* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0 0 25px 0;
    min-height: 75px;
    &__element {
        font-size: 20px;
        border-bottom: 2px dotted #ccc;
        color: #ccc;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color: #fff;
        }
    }
}
.button-wrapper {
    display: flex;
    justify-content: end;
    width: 80%;
    margin: auto;
}
.page-button__add-product {
    background: #54b4d3;
    border: 0;
    margin: 0 0 25px 0;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background: #3b71ca;
        transform: scale(1.1);
        color: #fbfbfb;
        cursor: pointer;
    }
}
.page-content {
    display: table;
    width: 80%;
    margin: auto;
    &__table {
        display: table-row-group;
        &-thumbnail{
            max-width: 300px;
        }
        &-row {
            display: table-row;
        }
        &-cell {
            text-align: center;
            border: 1px solid #999999;
            display: table-cell;
            padding: 3px 10px;
            vertical-align: middle;
        }
    }
}
.modal-add-product {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    &__header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
        height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    }
    &__content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &__body {
        padding: 2px 16px;
    }
    &__footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 2px solid #f1f1f1;
        border-bottom-right-radius: calc(0.5rem - 1px);
        border-bottom-left-radius: calc(0.5rem - 1px);
        &-btn {
            text-transform: uppercase;
            vertical-align: bottom;
            border: 0;
            box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35);
            font-weight: 500;
            padding: 0.625rem 1.5rem 0.5rem;
            font-size: 0.75rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            margin: 0.25rem;
            cursor: pointer;
            &:active {
                background-color: #d5dde8;
            }
            &:hover {
                background-color: #3265b9;
                color: #fff;
            }
        }

        &-btn--save {
            background-color: #3b71ca;
            color: #fff;
            box-shadow: 0 4px 9px -4px #3b71ca;
        }
    }

    &__close {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

}
.page-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    // display: flex;
    // justify-content: center;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}



//form

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.formbold-radio {
  width: 20px;
  height: 20px;
}
.formbold-radio-label {
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
  color: #070707;
  padding-right: 20px;
}

